.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-bleed-end;
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }

  @media only screen and (max-width: $bp-medium) {
    h3 {
      grid-column: 1 / -1;
    }
    grid-template-columns: repeat(3, min-content max-content);
    column-gap: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: max-content;
  }
}

.realtor {
  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 2rem;
    row-gap: 5vh;
  }

  &__img {
    width: 7rem;
    display: block;
    border-radius: 50%;
    justify-self: start;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
